<a href="https://colab.research.google.com/github/yejin0455/sesac-python/blob/main/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D%EC%8B%9C%EA%B0%81%ED%99%94_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

데이터분석, 처리를 쉽게 할 수 있게 도와주는 라이브러리

Numpy 기반으로 만들어졌지만 더 복잡한 데이터 분석에 특화

Numpy는 배열만 처리하지만 Pandas는 데이터타입이 다양하게 섞여 있을 때도 처리 가능

# Series()

pandas에서 데이터를 생성하는 가장 기본적인 방법

Series형식의 구조적 데이터(라벨을 갖는 1차원 데이터)를 생성할 수 있음

원소의 데이터 타입이 달라도 됨 (숫자, 문자 혼합 가능)

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 2, 3, 4, 5])  #시퀀스 데이터가 인자로 들어감
print(s)  #인자로 넣은 시퀀스 데이터에 순서를 표시하는 라벨이 자동적으로 부여됨

#왼쪽 세로축 라벨=index      오른쪽 입력한 시퀀스 데이터=values

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
print(s.index)  #인덱스와 값을 따로 불러올 수 있음

RangeIndex(start=0, stop=5, step=1)

In [4]:
print(s.values)  #값

[1 2 3 4 5]

In [5]:
s = pd.Series(["홍길동", "강감찬", "을지문덕"])
print(s)

0     홍길동
1     강감찬
2    을지문덕
dtype: object

In [6]:
subjects = ["국어", "영어", "수학"]
s = pd.Series([90, 85, 50], index = subjects)  #인자로 인덱스 추가 가능, 시퀀스 데이타의 항목 갯수와 인덱스 시퀀스의 항목의 개수는 같아야 함
print(s)

국어    90
영어    85
수학    50
dtype: int64

In [18]:
#파이썬의 딕셔너리를 이용하면 데이터와 index를 함께 입력할 수 있음
#입력 인자로 딕셔너리 데이터를 입력하면 딕셔너리 데이터의 키와 값이 각각 Series 데이터의 index와 values로 들어감
s5 = pd.Series({"국어":100, "영어":80, "수학":70})
s5

국어    100
영어     80
수학     70
dtype: int64

In [ ]:
#결측치를 무엇으로 표현할 것인가?

In [14]:
import numpy as np
s1 = pd.Series([np.nan, 10, 30])  #np.nan, None : 데이터가 없다고 표시, 인덱스는 있지만 값은 없음
s2 = pd.Series([None, 10, 30])
s3 = pd.Series([0, 10, 30])
s4 = pd.Series([-1, 10, 30])
print(s1)
print(s2)
print(s3)
print(s4)

0     NaN
1    10.0
2    30.0
dtype: float64
0     NaN
1    10.0
2    30.0
dtype: float64
0     0
1    10
2    30
dtype: int64
0    -1
1    10
2    30
dtype: int64

In [10]:
print(np.nan == np.nan)  # 안의 값 비교 ==
print(None == None)
print(np.nan is np.nan)  # 개체(참조) 비교 is
print(None is None)

False
True
True
True

# 날짜 시퀀스 : date_range()

날짜 자동 생성

In [13]:
s = pd.date_range(start='2019/01/01', end='2022-02-28')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [15]:
s = pd.date_range(start='2019/01/01', end='2022-02-28', freq='2D')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07',
               '2019-01-09', '2019-01-11', '2019-01-13', '2019-01-15',
               '2019-01-17', '2019-01-19',
               ...
               '2022-02-10', '2022-02-12', '2022-02-14', '2022-02-16',
               '2022-02-18', '2022-02-20', '2022-02-22', '2022-02-24',
               '2022-02-26', '2022-02-28'],
              dtype='datetime64[ns]', length=578, freq='2D')

In [16]:
s = pd.date_range(start='2019/01/01', end='2022-02-28', freq='2B')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-07', '2019-01-09',
               '2019-01-11', '2019-01-15', '2019-01-17', '2019-01-21',
               '2019-01-23', '2019-01-25',
               ...
               '2022-02-02', '2022-02-04', '2022-02-08', '2022-02-10',
               '2022-02-14', '2022-02-16', '2022-02-18', '2022-02-22',
               '2022-02-24', '2022-02-28'],
              dtype='datetime64[ns]', length=413, freq='2B')

# DataFrame

표(table)와 같은 2차원 데이터 처리를 위해 사용

df = pd.DataFrame(data)

인자(data)로 리스트와 비슷한 형태의 데이터 타입은 모두 사용 가능

리스트, 딕셔너리, Numpy배열, Series, DataFrame 등등

In [19]:
df = pd.DataFrame([["홍길동", 90, 80, 70], ["강감찬", 80, 78, 90]])  # data 행 개수 = index 요수 개수, data 열 개수 = columns 요소 개수 일치해야 함 
print(df)  #왼쪽 세로 index, 상단 가로 columns, 인덱스와 칼럼을 제외한 부분 values

     0   1   2   3
0  홍길동  90  80  70
1  강감찬  80  78  90

In [20]:
print(df.index)

RangeIndex(start=0, stop=2, step=1)

In [21]:
print(df.columns)

RangeIndex(start=0, stop=4, step=1)

In [22]:
print(df.values)

[['홍길동' 90 80 70]
 ['강감찬' 80 78 90]]

In [23]:
nums = [1, 2]
cnames = ["이름", "국어", "수학", "영어"]
df = pd.DataFrame([["홍길동", 90, 80, 70], ["강감찬", 80, 78, 90]], index=nums, columns=cnames)
print(df)

    이름  국어  수학  영어
1  홍길동  90  80  70
2  강감찬  80  78  90

In [26]:
table_data = {"연도":[np.nan, 2020, 2021],
              "매출":[100, None, 120]}
df = pd.DataFrame(table_data)
print(df)

       연도     매출
0     NaN  100.0
1  2020.0    NaN
2  2021.0  120.0

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      2 non-null      float64
 1   매출      2 non-null      float64
dtypes: float64(2)
memory usage: 176.0 bytes
None

In [28]:
print(df.describe())

                연도          매출
count     2.000000    2.000000
mean   2020.500000  110.000000
std       0.707107   14.142136
min    2020.000000  100.000000
25%    2020.250000  105.000000
50%    2020.500000  110.000000
75%    2020.750000  115.000000
max    2021.000000  120.000000

# Series 데이터 연산

In [29]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([7, 8, 9, 10 ,11])
s3 = s1 + s2
print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     7
1     8
2     9
3    10
4    11
dtype: int64
0     8
1    10
2    12
3    14
4    16
dtype: int64

In [30]:
#데이터끼리 서로 크기가 달라도 연산 가능
#이 경우 연산을 할 수 있는 항목만 연산을 수행, 연산할 수 없는 부분은 NaN으로 표시
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([7, 8, 9, 10])
s3 = s1 + s2
print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     7
1     8
2     9
3    10
dtype: int64
0     8.0
1    10.0
2    12.0
3    14.0
4     NaN
dtype: float64

In [31]:
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([2, 3, 7, 8], index=['a', 'c', 'd', 'e'])
s3 = s1 + s2  #인덱스 이름이 같은 것 끼리 연산
print(s3)

a     3.0
b     NaN
c     6.0
d    11.0
e     NaN
dtype: float64

# DataFrame 연산

In [33]:
data1 = {"홍길동":[90, 85, 70],
        "강감찬":[99, 80, 65],
        "이순신":[100, 100, 100]}
df1 = pd.DataFrame(data1)

In [32]:
data2 = {"홍길동":[100, 75, 80],
        "강감찬":[90, 85, 75],
        "이순신":[95, 100, 95]}
df2 = pd.DataFrame(data2)

In [34]:
print(df1)
print(df2)

   홍길동  강감찬  이순신
0   90   99  100
1   85   80  100
2   70   65  100
   홍길동  강감찬  이순신
0  100   90   95
1   75   85  100
2   80   75   95

In [35]:
df3 = df1 + df2
print(df3)

   홍길동  강감찬  이순신
0  190  189  195
1  160  165  200
2  150  140  195

In [36]:
df3.describe()

              홍길동         강감찬         이순신
count    3.000000    3.000000    3.000000
mean   166.666667  164.666667  196.666667
std     20.816660   24.501701    2.886751
min    150.000000  140.000000  195.000000
25%    155.000000  152.500000  195.000000
50%    160.000000  165.000000  195.000000
75%    175.000000  177.000000  197.500000
max    190.000000  189.000000  200.000000

In [37]:
df3.mean()  #평균

홍길동    166.666667
강감찬    164.666667
이순신    196.666667
dtype: float64

In [38]:
df3.std()  #표준편차

홍길동    20.816660
강감찬    24.501701
이순신     2.886751
dtype: float64

In [40]:
df3.var()  #분산

홍길동    433.333333
강감찬    600.333333
이순신      8.333333
dtype: float64

In [41]:
print(df3.mean())
print(df3.mean(axis=1))  #연산의 방향을 설정함 axis=0이면 vlaues에서 열 별로 연산 수행, axis=1이면 행 별로 연산 수행, 디폴트0

홍길동    166.666667
강감찬    164.666667
이순신    196.666667
dtype: float64
0    191.333333
1    175.000000
2    161.666667
dtype: float64

df.head([n]) 앞쪽 데이터를 확인 (디폴트 n=5)

df.tail([n]) 뒤쪽 데이터를 확인 (디폴트 n=5)

In [46]:
df = pd.read_csv('/content/drive/MyDrive/module/iris.csv')
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [47]:
df.head(2)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

In [48]:
df.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [49]:
df[50:55]  #행 50~54 선택

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

In [51]:
df.loc[50:55]  #인덱스가 50~55인 것

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
55           5.7          2.8           4.5          1.3  Versicolor

In [52]:
print(df['petal.length'][0])  # [열columns_name][행index]

1.4

In [53]:
print(df.loc[0]['petal.length'])

1.4

In [54]:
print(df.loc[0, 'petal.length'])

1.4

# 데이터 통합하기

In [55]:
data = {"국어":[100, 38, 45, 90],
        "영어":[90, 80, 75, 80]}
df = pd.DataFrame(data)
print(df)

    국어  영어
0  100  90
1   38  80
2   45  75
3   90  80

In [57]:
data2 = {"국어":[75, 80],
         "영어":[65, 70]}
df2 = pd.DataFrame(data2)
print(df2)

   국어  영어
0  75  65
1  80  70

In [65]:
rdf = df.append(df2)  #세로방향(인덱스증가방향)으로 합침 - 행 추가
print(df)
print("================")
print(rdf)

    국어  영어
0  100  90
1   38  80
2   45  75
3   90  80
================
    국어  영어
0  100  90
1   38  80
2   45  75
3   90  80
0   75  65
1   80  70

In [66]:
rdf = df.append(df2, ignore_index=True)  #새로운 인덱스 할당, false이면 기존의 인덱스 유지
print(rdf)

    국어  영어
0  100  90
1   38  80
2   45  75
3   90  80
4   75  65
5   80  70

In [67]:
data3 = {"국어":[75, 80]}
df3 = pd.DataFrame(data3)
print(df3)

   국어
0  75
1  80

In [69]:
rdf = df.append(df3)
print(df)
print("================")
print(rdf)
#데이터가 없는 부분은 NaN

    국어  영어
0  100  90
1   38  80
2   45  75
3   90  80
================
    국어    영어
0  100  90.0
1   38  80.0
2   45  75.0
3   90  80.0
0   75   NaN
1   80   NaN

In [71]:
data4 = {"수학":[90, 85, np.nan, 88]}
df4 = pd.DataFrame(data4)
print(df4)

     수학
0  90.0
1  85.0
2   NaN
3  88.0

In [72]:
rdf = df.join(df4)  #가로방향(칼럼증가방향)으로 합침 - 열 추가
print(rdf)

    국어  영어    수학
0  100  90  90.0
1   38  80  85.0
2   45  75   NaN
3   90  80  88.0

# 결측치 표현

In [74]:
value = np.nan
print(value)

nan

In [75]:
value2 = None
print(value2)

None

In [77]:
se1 = pd.Series(['홍길동', '강감찬', np.nan, '을지문덕'])
se1.isnull()  #결측치 여부 확인

0    False
1    False
2     True
3    False
dtype: bool

In [78]:
se1[0] = np.nan
print(se1)

0     NaN
1     강감찬
2     NaN
3    을지문덕
dtype: object

In [79]:
se1[1] = None
print(se1)

0     NaN
1    None
2     NaN
3    을지문덕
dtype: object

In [80]:
se1.isnull()

0     True
1     True
2     True
3    False
dtype: bool

In [81]:
#전처리 과정에서 결측 데이터 제외하기
se2 = se1.dropna()
print(se2)

3    을지문덕
dtype: object

In [82]:
se1.notnull()

0    False
1    False
2    False
3     True
dtype: bool

In [83]:
se3 = se1[se1.notnull()]
print(se3)

3    을지문덕
dtype: object

In [84]:
df1 = pd.DataFrame([[1, np.nan, 3, 4], [np.nan, np.nan, np.nan, np.nan], [3, 4, 1, 1]])
print(df1)

     0    1    2    3
0  1.0  NaN  3.0  4.0
1  NaN  NaN  NaN  NaN
2  3.0  4.0  1.0  1.0

In [85]:
#하나라도 결측치일 때 해당 Row(index)를 삭제
df2 = df1.dropna()
print(df2)

     0    1    2    3
2  3.0  4.0  1.0  1.0

In [86]:
#모든 칼럼이 결측치일 때 해당 Row(index)를 삭제해라
df3 = df1.dropna(how='all')
print(df3)

     0    1    2    3
0  1.0  NaN  3.0  4.0
2  3.0  4.0  1.0  1.0

In [88]:
df1.iloc[1][0] = 2
print(df1)

     0    1    2    3
0  1.0  NaN  3.0  4.0
1  2.0  NaN  NaN  NaN
2  3.0  4.0  1.0  1.0

In [89]:
df4 = df1.dropna(axis = 1)
print(df4)

     0
0  1.0
1  2.0
2  3.0

In [90]:
df5 = df1.fillna(0)  #결측치를 ()안의 값으로 채움
print(df5)

     0    1    2    3
0  1.0  0.0  3.0  4.0
1  2.0  0.0  0.0  0.0
2  3.0  4.0  1.0  1.0