<a href="https://colab.research.google.com/github/yejin0455/sesac-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%A1%B0%EA%B1%B4%EB%AC%B8_bool_%EC%9E%90%EB%A3%8C%ED%98%95_%EB%B0%8F_%EA%B4%80%EB%A0%A8_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
type(False)

bool

# 비교연산자

In [2]:
i = int(input("정수:"))
i % 2 == 0

정수:45

False

In [3]:
i = int(input("정수:"))
i % 2 != 0

정수:45

True

In [4]:
num1 = int(input("정수:"))
num2 = int(input("정수:"))
num1<num2, num1<=num2, num1>num2, num1>=num2

정수:2
정수:3

(True, True, False, False)

# 논리연산자

In [5]:
num1 = int(input("정수:"))
num2 = int(input("정수:"))
(num1 % 2 == 0)and(num2 % 2 == 0)

정수:4
정수:8

True

In [6]:
num1 = int(input("정수:"))
num2 = int(input("정수:"))
(num1 % 2 == 0)or(num2 % 2 == 0)

정수:4
정수:7

True

In [7]:
num1 = int(input("정수:"))
not (num1 % 2 == 0)

정수:45

True