<a href="https://colab.research.google.com/github/yejin0455/sesac-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98(%EB%A7%8C%EB%93%A4%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

자주 사용하는 알고리즘을 이름을 부여하여 만든 로직 혹은 코드 블록

로직이름, 입력매개변수목록, 수행할 코드, 반환값 으로 구성

매개변수와 반환값은 생략 가능

함수를 만드는 것을 함수 정의

함수를 사용하는 것을 함수 호출

In [ ]:
#함수명:foo
#입력매개변수:2개(a, b)
#수행 코드는 두 개의 인자를 출력한 후 곱한 값을 반환
#반환값:a*b

def foo(a, b):
    print(f"a:{a} b:{b}")
    return a*b

In [ ]:
re = foo(2, 3)  #함수호출(반환값을 re에 대입)
print(f"결과:{re}")
foo(3, 4)  #함수호출(반환값을 무시)

In [ ]:
def print_menu():
    print("1:데이터 추가")
    print("2:데이터 삭제")
    print("3:데이터 검색")
    print("4:전체 데이터 확인")
    print("0:종료")

In [ ]:
def menu_select():
    print_menu()
    return int(input("메뉴선택:"))

In [ ]:
while True:
    key = menu_select()
    if key == 0:
        break
    if key == 1:
        print("데이터 추가")
    elif key == 2:
        print("데이터 삭제")
    elif key == 3:
        print("데이터 검색")
    elif key == 4:
        print("전체 데이터 확인")
    else:
        print("잘못 선택하였습니다.")

특정 범위의 수의 합계를 구하는 함수

In [1]:
def getsum(start, end):
    s = 0
    for i in range(start, end+1):
        s += i
    return s

In [2]:
s = int(input("시작:"))
e = int(input("끝:"))
print(f"{s}~{e} 합계:{getsum(s, e)}")

print(f"1~100 합계:{getsum(1, 100)}")

시작:2
끝:5
2~5 합계:14
1~100 합계:5050

In [ ]:
#re = getsum(1, 2, 3)  #정의한 함수와 다르게 인자를 전달하고 있음 - typeError
#print(re)

In [4]:
def soo(a, temp=1, yahoo='a'):  #temp는 인자를 전달하지 않을 때 1을 디폴트 값으로, yahoo는 'a'를 디폴트 값으로 함
    print(a, temp, yahoo)

In [6]:
soo(1)
soo(1, temp=2)
soo(3, yahoo=7)
soo(3, 4)
soo(3, 4, 5)

1 1 a
1 2 a
3 1 7
3 4 a
3 4 5

In [7]:
def zoo(n=2, *values):  # *은 가변인자(몇 개의 값이 들어오는지 모름)
    print("====")
    print(n)
    for value in values:
        print(value, end=' ')
    print()

In [9]:
zoo()
zoo(1)
zoo(1, 3)
zoo(1, 3, 4, 5)

====
2

====
1

====
1
3
====
1
3 4 5

In [10]:
name = input("이름:")
print(f"이름:{name}")

이름:
이름:

In [11]:
def square(x):
    return x * x

In [12]:
for i in range(1, 5):
    re = square(i)
    print(f"{i}의 제곱: {re}")

1의 제곱: 1
2의 제곱: 4
3의 제곱: 9
4의 제곱: 16

In [15]:
def find_nearest_sum(start, goal):
    s = 0
    while s < goal:
        s += start
        start += 1
        if(start == 100):
            return s
    print("find!!")
    return s

In [16]:
re = find_nearest_sum(1, 2000)
print(re)
re = find_nearest_sum(1, 20000)
print(re)

find!!
2016
4950