<a href="https://colab.research.google.com/github/yejin0455/sesac-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B0%98%EB%B3%B5%EB%AC%B8(%EA%B4%80%EB%A0%A8_%ED%95%A8%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트 관련 함수

In [1]:
ls = [10, 98, 11, 23, 45, 77, 6]
print("최솟값:", min(ls))
print("최댓값:", max(ls))
print("합:", sum(ls))

최솟값: 6
최댓값: 98
합: 270

In [3]:
ls.sort()
print(ls)
ls.reverse()
print(ls)

[6, 10, 11, 23, 45, 77, 98]
[98, 77, 45, 23, 11, 10, 6]

In [5]:
rls = reversed(ls)
for elem in rls:
    print(elem, end=' ')
print()
print(ls)

6 10 11 23 45 77 98
[98, 77, 45, 23, 11, 10, 6]

In [6]:
ls = [3, 4, 5, 10, 23, 45, 9]
els = enumerate(ls)
print(els)

<enumerate object at 0x7fc8c3157370>

In [7]:
print(list(els))

[(0, 3), (1, 4), (2, 5), (3, 10), (4, 23), (5, 45), (6, 9)]

In [8]:
ls = [3, 4, 5, 10, 23, 45, 9]
for index, elem in enumerate(ls):
    print(f"{index}:{elem}")

0:3
1:4
2:5
3:10
4:23
5:45
6:9

# 딕셔너리

In [9]:
ex_dict = {}
ex_dict["홍길동"] = 78
ex_dict["고길동"] = 88
ex_dict["김길동"] = 76
ex_dict["강길동"] = 79
print(ex_dict)

{'홍길동': 78, '고길동': 88, '김길동': 76, '강길동': 79}

In [10]:
print(ex_dict.items())

dict_items([('홍길동', 78), ('고길동', 88), ('김길동', 76), ('강길동', 79)])

In [11]:
for key, value in ex_dict.items():
    print(f"key:{key} value:{value}")

key:홍길동 value:78
key:고길동 value:88
key:김길동 value:76
key:강길동 value:79

In [12]:
sdict = sorted(ex_dict)
print(sdict)

['강길동', '고길동', '김길동', '홍길동']

# 고급진 리스트 컴프리핸션

In [16]:
ls = []
for i in range(1, 100):
    ls.append(i)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [17]:
ls = [i for i in range(1, 100)]
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

1에서 100사이의 3의 배수로 구성한 리스트 만들기

In [18]:
ls = []
for i in range(1, 100):
    if i % 3 == 0:
        ls.append(i)
print(ls)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [15]:
ls = [i for i in range(1, 100) if i%3==0]
print(ls)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]