<a href="https://colab.research.google.com/github/yejin0455/sesac-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플

여러 개의 원소로 구성한 자료구조(컬렉션)

원소의 값을 변경할 수 없다.

In [1]:
tup1 = (1, )
tup2 = (1, 'a')
tup3 = (1, 'abc', (2, 3, 'ab'))
print(tup1)
print(tup2)
print(tup3)

(1,)
(1, 'a')
(1, 'abc', (2, 3, 'ab'))

In [2]:
tup1 = (1, 2, 3)
print(tup1[0])
print(tup1[1])
print(tup1[2])

1
2
3

In [7]:
#tup1[0] = 7  #튜플은 원소의 값을 변경할 수 없다

# 리스트

여러 개의 원소로 구성한 자료구조(컬렉션)

튜플과 다르게 원소의 값을 변경할 수 있다.

In [4]:
ls1 = [1, 2, 3, 4]
print(ls1)

[1, 2, 3, 4]

In [5]:
ls2 = [1, 2, 3, 'a', [1,2,3], (1,2,'a')]
print(ls2)

[1, 2, 3, 'a', [1, 2, 3], (1, 2, 'a')]

In [6]:
ls1 = [1, 2, 3, 4, 5, 'a', 'b']
print(ls1[0])
print(ls1[1])
print(ls1[2])
print(ls1[3])
print(ls1[4])
print(ls1[5])
print(ls1[6])
#print(ls1[7])  #out of range

1
2
3
4
5
a
b

In [8]:
s = "abcdefg"
print(s[1:3])

bc

In [10]:
ls1 = [1, 2, 3, 'a', 'b']
print(ls1[1:3])
print(ls1[:3])  #인덱스 0~2
print(ls1[1:])  #인덱스 1~4

[2, 3]
[1, 2, 3]
[2, 3, 'a', 'b']

In [11]:
tup1 = (1, 2, 3)
ls1 = [1, 2, 3]
#tup1[0] = 3   #원소의 값을 변경할 수 없다
ls1[0] = 3  #리스트는 원소의 값을 변경할 수 있다
print(ls1[0])

3

In [12]:
ls1 = [1, 2, 3, 4, 5, 6]
print(ls1[-1])  #-를 붙이면 뒤에서부터 원소를 찾아옴
print(ls1[-2])
print(ls1[-3])
print(ls1[-4])
print(ls1[-5])
print(ls1[-6])

6
5
4
3
2
1

In [14]:
ls1 = [[90, 80, 45], [88, 95, 64], [99, 64, 89]]
print(ls1[0])
print(ls1[0][2])

[90, 80, 45]
45

In [15]:
ls1 = [1, 2, 3]
ls2 = ['a', 'b', 'c']
print(ls1 + ls2)
print(ls1)
print(ls2)
ls3 = ls1 + ls2
print(ls3)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3]
['a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']

In [16]:
ls1 = [1, 2, 3]
ls2 = ['a', 'b', 'c']
print(ls1 * 3)
s1 = "홍길동"
print(s1 * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
홍길동홍길동홍길동

In [18]:
print(len('abcdefghijklmnopqrstuvwxyz'))
print(len([1,2,3,4,5,6,7,8,9,10,'a','b']))

26
12

In [19]:
ls1 = list()  #빈 리스트 생성하기
print(ls1)
print(type(ls1))

[]
<class 'list'>

In [20]:
ls1.append(3)  #현재 리스트의 맨 뒤에 추가됨 (순차)
ls1.append(7)
ls1.append(2)
ls1.append(8)
print(ls1)

[3, 7, 2, 8]

In [21]:
ls = [1, 2, 4, 5, 6, 7]
num = 3
ls.insert(2, num)  #원하는 자리에 추가 (인덱스번호, 데이터)
print(ls)

[1, 2, 3, 4, 5, 6, 7]

# 리스트 병합

In [22]:
ls1 = [1, 2, 3]
ls2 = ['a', 'b', 'c']
print(ls1.extend(ls2))  #반환값은 없음
print(ls1)  #ls1의 결과가 바뀐 것을 알 수 있음
print(ls2)

None
[1, 2, 3, 'a', 'b', 'c']
['a', 'b', 'c']