<a href="https://colab.research.google.com/github/yejin0455/sesac-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%90%EB%A3%8C%ED%98%95_%EB%B3%80%EC%88%98%EC%99%80_%EA%B8%B0%EB%B3%B8_%EC%9E%85%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수

In [1]:
korea = 90
math = 85
sum = korea + math
print("국어:", korea, "수학:", math, "합계:", sum)

국어: 90 수학: 85 합계: 175

# 기본 입력 input

In [2]:
korea = input("국어 점수:")
math = input("영어 점수:")
print("국어:", korea, "수학:", math, "합계:", korea+math)

국어 점수:50
영어 점수:50
국어: 50 수학: 50 합계: 5050

In [3]:
print(type(korea), type(math))

<class 'str'> <class 'str'>

In [4]:
korea = int(korea)
math = int(math)
print("국어:", korea, "수학:", math, "합계:", korea+math)

국어: 50 수학: 50 합계: 100

In [5]:
korea = int(input("국어 점수:"))
math = int(input("수학 점수:"))
print("국어:", korea, "수학:", math, "합계:", korea+math)

국어 점수:50
수학 점수:50
국어: 50 수학: 50 합계: 100

In [6]:
fstr1 = "12.34"
fstr2 = "3.14"
f1 = float(fstr1)
f2 = float(fstr2)
print("f1:", f1, "f2:", f2, "f1*f2=", f1*f2)

f1: 12.34 f2: 3.14 f1*f2= 38.7476

In [7]:
k_str = str(korea)
print("k_str:", k_str, "type:", type(k_str))

k_str: 50 type: <class 'str'>