<a href="https://colab.research.google.com/github/yejin0455/sesac-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98(%EC%8B%A4%EC%8A%B5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
folder = ''

In [2]:
members = [
           ["홍길동", 90, 85, 88],
           ["김길동", 80, 94, 66],
           ["박길동", 90, 95, 75],
]

In [3]:
fname = folder + "mscores.csv"
fname

'mscores.csv'

In [5]:
#with open(fname, 'w') as fs:
#    print("um")

fs = open(fname, 'w')
for member in members:
    fs.write(f"{member[0]}, {member[1]}, {member[2]}, {member[3]}\n")
fs.close()

In [6]:
import csv
fname2 = folder + "mscores2.csv"
fs = open(fname2, 'w', newline='')
sw = csv.writer(fs, delimiter=',')
for member in members:
    sw.writerow(member)
#fs.close()

In [15]:
fs.write(f"{member[0]}, {member[1]}, {member[2]}, {member[3]}\n")
sw.writerow(member)

14

In [10]:
fs = open(fname, 'r')
data = fs.read()
fs.close()
print(data)

홍길동, 90, 85, 88
김길동, 80, 94, 66
박길동, 90, 95, 75

In [7]:
fs = open(fname, 'r')
while True:
    record = fs.readline()
    if record == "":
        break
    record = record.replace("\n", "")
    sdata = record.split(',')
    rs = []
    rs.append(sdata[0])
    for i in range(1, 4):
        rs.append(int(sdata[i]))
    members.append(rs)
fs.close()
print(members)

[['홍길동', 90, 85, 88], ['김길동', 80, 94, 66], ['박길동', 90, 95, 75], ['홍길동', 90, 85, 88], ['김길동', 80, 94, 66], ['박길동', 90, 95, 75]]

In [8]:
import csv
fs = open(fname, 'r', newline='')
reader = csv.reader(fs)
for row in reader:
    rs = []
    rs.append(row[0])
    for i in range(1, 4):
        rs.append(int(row[i]))
    members.append(rs)
fs.close()
print(members)

[['홍길동', 90, 85, 88], ['김길동', 80, 94, 66], ['박길동', 90, 95, 75], ['홍길동', 90, 85, 88], ['김길동', 80, 94, 66], ['박길동', 90, 95, 75], ['홍길동', 90, 85, 88], ['김길동', 80, 94, 66], ['박길동', 90, 95, 75]]

In [10]:
import pandas as pd
members = pd.read_csv(fname, header=None)
members.describe()

               1          2          3
count   3.000000   3.000000   3.000000
mean   86.666667  91.333333  76.333333
std     5.773503   5.507571  11.060440
min    80.000000  85.000000  66.000000
25%    85.000000  89.500000  70.500000
50%    90.000000  94.000000  75.000000
75%    90.000000  94.500000  81.500000
max    90.000000  95.000000  88.000000