<a href="https://colab.research.google.com/github/yejin0455/sesac-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98(%EA%B3%A0%EA%B8%89).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플

여러 개의 요소로 구성한 컬렉션

요소의 값을 변경할 수 없다

In [ ]:
a, b = (2, 3)
print(a, b)

In [ ]:
t = 1, 2, 3, 4
print(type(t))

In [ ]:
a, b, c = 1, 2, 3
print(type(a))

In [ ]:
a = 2
b = 3
print(a, b)
a, b = b, a
print(a, b)

In [2]:
def get_sum_average(numbers):
    s = 0
    for number in numbers:
        s += number
    return s, s/len(numbers)

In [ ]:
s, aver = get_sum_average([1, 2, 4, 5, 54, 5, 6])
print(f"합계:{s} 평균:{aver:.2f}")

In [ ]:
re = get_sum_average([1, 2, 4, 5, 54, 5, 6])
print(re)
print(type(re))

# 람다

In [5]:
def square(x):
    return x*x

In [6]:
sq = lambda x: x*x

In [7]:
def foo(x):
    print(f"foo({x})")
    return 2*x

In [ ]:
re = map(foo, [1, 2, 3, 4])
for e in re:
    print(e)

In [ ]:
re = map(sq, [1, 2, 3, 4])
for e in re:
    print(e)

In [ ]:
re = map(lambda x:x+2, [1, 2, 3, 4])
for e in re:
    print(e)

In [13]:
def is_odd(x):
    return x%2 == 1

In [ ]:
re = filter(is_odd, [1, 2, 3, 4, 5, 6, 7, 8, 10, 23, 4, 23, 11])
for e in re:
    print(e)

In [ ]:
re = filter(lambda x:x%2==1, [1, 2, 3, 4, 5, 6, 7, 8, 10, 23, 4, 23, 11])
for e in re:
    print(e)